<ion-content padding class="imagen2">

<ion-card>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/avatar.jpg">
    </ion-avatar>
    <ion-label>
      <h3>Fernando Sanmartin</h3>
      <p>Marzo 04, 1992</p>
    </ion-label>
  </ion-item>

  <ion-grid>
    <h3>Historial Academico</h3>
<br>
    <ion-row>
        <ion-col>
        <div>
          <img src="../../assets/epn.png" style="align-items: center" width="150" height="150"> 
          <p></p>
          <div class="ion-text-center">
            ESCUELA POLITÉCNICA NACIONAL
        <p></p>
            Tecnología en Análisis de Sistemas de la Información
</div>
        </div>
        <p></p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>

    <ion-row>
        <ion-col>
        <div>
          <img src="../../assets/mh.jpg" style="align-items: center" width="100" height="100"> 
          <p></p>
          <div class="ion-text-center">
            COLEGIO EXPERIMENTAL JUAN PIO MONTUFAR
        <p></p>
        Bachiller en ciencias fisico matematicas
</div>
        </div>
        <p></p>
      </ion-col>
    </ion-row>
  </ion-grid>

 

  <ion-grid>
    <h3>Certificaciones</h3>
<br>
    <ion-row>
        <ion-col>
        <div>
          <img src="../../assets/cisco.png" style="align-items: center" width="50" height="50"> 
          <p></p>
        </div>
        <p></p>
      </ion-col>
      <ion-col>
        Introducción a la Seguridad Cibernetica
      <p></p>
      cisco
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
        <ion-col>
        <div>
          <img src="../../assets/CertiProf.png" style="align-items: center" width="50" height="50"> 
          <p></p>
        </div>
        <p></p>
      </ion-col>
      <ion-col>
        Scrum Fundations professional Certificate (SFPC)
      <p></p>
      CertiProf
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
        <ion-col>
        <div>
          <img src="../../assets/scrumstudy.svg" style="align-items: center" width="50" height="50"> 
          <p></p>
        </div>
        <p></p>
      </ion-col>
      <ion-col>
        Scrum Fundamentals Certified (SFC)
      <p></p>
      SCRUMstudy - Accreditation Body for Scrum and Agile
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
        <ion-col>
        <div>
          <img src="../../assets/fortinet.png" style="align-items: center" width="50" height="50"> 
          <p></p>
        </div>
        <p></p>
      </ion-col>
      <ion-col>
        NSE 1 Network Security Associate
        
      <p></p>
      Fortinet
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
        <ion-col>
        <div>
          <img src="../../assets/fortinet.png" style="align-items: center" width="50" height="50"> 
          <p></p>
        </div>
        <p></p>
      </ion-col>
      <ion-col>
        NSE 2 Network Security Associate
        
      <p></p>
      Fortinet
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>


</ion-content>

